

table {
    margin: 1em;
    border-collapse: collapse;

    background-color: #fdfdfd;
    color: #2e2e2e;
    border: #c5c5c5 1px solid;
    font-size: 100%;
    font-family: inherit;
    -webkit-appearance: none;
}

thead {
    padding-right: 17px;
    zoom: 1;
    background-color: #e3e3e3;
    background-image: none,linear-gradient(to bottom,#f6f6f6 0,#eaeaea 100%);
    background-repeat: repeat;
    background-position: 0 center;
}

    thead th {
        border: 1px solid #c5c5c5;
        font-weight: normal;
        white-space: nowrap;
    }

tbody td {
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #c5c5c5;
}

tbody tr:nth-child(2n) {
    background-color: #f5f5f5;
}

tbody tr:nth-child(2n+1) {
    background-color: #fff;
}
th, td {
    padding: .35em;
  
}


table caption{
    text-align:left;
    font-weight:bold;
}